body {
   background-color: #d0e4fe;
}

h1 {
   color: orange;
   text-align: center;
   font-family: 'Pacifico', cursive;
}

p {
   font-family: "Times New Roman";
   font-size: 20px;
}
form{
line-height: 0;
}
button {
  background-color: peru;
  color: white;
}
.formulario {
  position: absolute;
  left: 40%;
}
